{%- style -%}
    .header-wrapper{
        {% if section.settings.background_image != blank %}
        background: url({{ section.settings.background_image | image_url: width: section.settings.background_image.width, height: section.settings.background_image.height }});
        {% else %}
        background: {{ section.settings.menu_bg }};
        {% endif %}
    }
    @media only screen and (max-width: 1024px) {
    {% if section.settings.background_image %}
        .header-wrapper{
            border-bottom: 1px solid #e6e6e6;
        }
    {% endif %}
    }

    .status-item-menu.item-hot {
        background: {{ section.settings.bgcolor_label1 }};
        color: {{ section.settings.textcolor_label1 }};
    }
    .header .flex-header{
        background: {{ section.settings.menu_bg_nav }};
    }
    .header-ds1 .menu-lv1 a{
        color: {{ section.settings.menu_text_nav }} !important;
    }
    .header-ds1 .menu-lv1 a::before{
        background: {{ section.settings.menu_text_nav }} !important;
    }
    .stand-top-left .header-menu-wrap svg{
        fill:{{ section.settings.menu_text_nav }};
        stroke: {{ section.settings.menu_text_nav }};
    }
{%- endstyle -%}

{% liquid 
   
    assign hasMegamenu = false 
    assign sizeBlock = section.blocks.size

    if sizeBlock > 0
        assign hasMegamenu = true
    endif
%}
<div class='header-ds1'>
  {% if section.settings.enable_sticky_header %}
  <sticky-header class="header-sticky">
  {% endif %}
    <div class="overscroll-none header-wrapper{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
        <header class="header header-padding header-desktop header-full header--middle-left header--has-menu px-12.5 rs-container stand-top-left">
          <div class="default-location">
            <div class="top-left-new container">
              <div class="top-left-new-wrap">
                  {% render 'header-logo' %}
                  <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
                    <div class="modal-overlay"></div>
                    <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
                        {%- if settings.predictive_search_enabled -%}
                        <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                            {%- endif -%}
                            <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                                <div class="field">
                                    <input name="type" type="hidden" value="product">
                                    <input class="search__input field__input" type="search" name="q" value="" placeholder="{{ 'general.search.search' | t }}" {%- if settings.predictive_search_enabled -%} role="combobox" aria-expanded="false" aria-owns="predictive-search-results-list" aria-controls="predictive-search-results-list" aria-haspopup="listbox" aria-autocomplete="list" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" {%- endif -%}>
                                    <input name="options[prefix]" type="hidden" value="last">
                                    <select name="product_type" id="">
                                        <option value="">Search category</option>
                                        {% for product_type in shop.types %}  
                                        {% if product_type != blank %}  
                                            <option value="{{ product_type }}">{{ product_type }}</option>
                                        {%- endif -%}
                                        {% endfor %}
                                    </select>

                                    <svg class="icon-arrow-down" width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8757 0.125877C10.9151 0.165677 10.9464 0.212958 10.9677 0.265012C10.989 0.317066 11 0.37287 11 0.429228C11 0.485585 10.989 0.541389 10.9677 0.593443C10.9464 0.645497 10.9151 0.692779 10.8757 0.732579L5.79939 5.87412C5.7601 5.91402 5.71341 5.94568 5.66202 5.96728C5.61063 5.98888 5.55553 6 5.49989 6C5.44425 6 5.38915 5.98888 5.33776 5.96728C5.28636 5.94568 5.23968 5.91402 5.20039 5.87412L0.124058 0.732579C0.0446243 0.652125 -2.37356e-08 0.543006 -1.87621e-08 0.429227C-1.37887e-08 0.315449 0.0446243 0.20633 0.124058 0.125876C0.203491 0.0454224 0.311226 0.000223861 0.423561 0.000223866C0.535897 0.000223871 0.643632 0.0454224 0.723064 0.125876L5.49989 4.96493L10.2767 0.125877C10.316 0.0859754 10.3627 0.0543181 10.4141 0.032718C10.4655 0.011118 10.5206 -2.09564e-08 10.5762 -1.85242e-08C10.6319 -1.60919e-08 10.687 0.011118 10.7383 0.0327181C10.7897 0.0543181 10.8364 0.0859754 10.8757 0.125877Z" fill="black"/>
                                    </svg>
                                        
                                </div>
                
                                {%- if settings.predictive_search_enabled -%}
                                    <div class="predictive-search predictive-search--header" data-predictive-search tabindex="-1">
                                        <div class="predictive-search__loading-state">
                                            <svg aria-hidden="true" class="spinner" focusable="false" role="presentation" viewbox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                <circle class="path" cx="33" cy="33" fill="none" r="30" stroke-width="6"></circle>
                                            </svg>
                                        </div>
                                    </div>
                
                                    <span aria-hidden="true" class="predictive-search-status visually-hidden" role="status"></span>
                                {%- endif -%}
                            </form>
                            {%- if settings.predictive_search_enabled -%}
                        </predictive-search>
                        {%- endif -%}
                    </div>
                </div>
                  <div class="wrap-language">
                    <div class="wrapper-time-house flex items-center">
                        <div class="icon-show mr-3.5">
                            <svg width="22" height="33" viewBox="0 0 22 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.6 2.0625C18.1835 2.0625 18.7431 2.2798 19.1556 2.66659C19.5682 3.05339 19.8 3.57799 19.8 4.125V28.875C19.8 29.422 19.5682 29.9466 19.1556 30.3334C18.7431 30.7202 18.1835 30.9375 17.6 30.9375H4.4C3.81652 30.9375 3.25695 30.7202 2.84437 30.3334C2.43179 29.9466 2.2 29.422 2.2 28.875V4.125C2.2 3.57799 2.43179 3.05339 2.84437 2.66659C3.25695 2.2798 3.81652 2.0625 4.4 2.0625H17.6ZM4.4 0C3.23305 0 2.11389 0.434597 1.28873 1.20818C0.46357 1.98177 0 3.03098 0 4.125V28.875C0 29.969 0.46357 31.0182 1.28873 31.7918C2.11389 32.5654 3.23305 33 4.4 33H17.6C18.767 33 19.8861 32.5654 20.7113 31.7918C21.5364 31.0182 22 29.969 22 28.875V4.125C22 3.03098 21.5364 1.98177 20.7113 1.20818C19.8861 0.434597 18.767 0 17.6 0L4.4 0Z" fill="#0B88EE"/>
                                <path d="M11.0008 28.875C11.5843 28.875 12.1438 28.6577 12.5564 28.2709C12.969 27.8841 13.2008 27.3595 13.2008 26.8125C13.2008 26.2655 12.969 25.7409 12.5564 25.3541C12.1438 24.9673 11.5843 24.75 11.0008 24.75C10.4173 24.75 9.85773 24.9673 9.44515 25.3541C9.03257 25.7409 8.80078 26.2655 8.80078 26.8125C8.80078 27.3595 9.03257 27.8841 9.44515 28.2709C9.85773 28.6577 10.4173 28.875 11.0008 28.875Z" fill="#0B88EE"/>
                            </svg>    
                        </div>
                        <div class="config-time-house">
                            <h4>{{ section.settings.title_open_house }}</h4>                            
                            <p>{{ section.settings.time_open_house }}</p>
                        </div>
                    </div>
                    {% render 'header-icon' %}
                    {% render 'header-account' %}
                  </div>
                </div>
              </div>
            <nav class="flex-header header__type-menu-left">
                <div class="categories-nav flex items-stretch container">
                {% render 'menu-categories' %}
                    <div class="header-menu-wrap">
                        {% render 'header-menu', type: 'menu-left', call: 'desktop' %}
                    </div>    
                </div>
            </nav>
          </div>
        </header>
        {% render 'header-mobile' %}
        {% render 'mobile-bottom-navbar' %}
    </div>
  {% if section.settings.enable_sticky_header %}
  </sticky-header>
  {% endif %}
</div>
{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
{%- endif -%}

{% javascript %}
    class StickyHeader extends HTMLElement {
        constructor() {
            super();
        }
        connectedCallback() {
            (this.header = document.getElementById("shopify-section-header")),
                (this.headerBounds = {}),
                (this.currentScrollTop = 0),
                (this.preventReveal = !1),
                (this.predictiveSearch = this.querySelector("predictive-search")),
                (this.onScrollHandler = this.onScroll.bind(this)),
                (this.hideHeaderOnScrollUp = () => (this.preventReveal = !0)),
                this.addEventListener("preventHeaderReveal", this.hideHeaderOnScrollUp),
                window.addEventListener("scroll", this.onScrollHandler, !1),
                this.createObserver();
        }
        disconnectedCallback() {
            this.removeEventListener("preventHeaderReveal", this.hideHeaderOnScrollUp), window.removeEventListener("scroll", this.onScrollHandler);
        }
        createObserver() {
            new IntersectionObserver((e, t) => {
                (this.headerBounds = e[0].intersectionRect), t.disconnect();
            }).observe(this.header);
        }
        onScroll() {
            let e = window.pageYOffset || document.documentElement.scrollTop;
            if (!this.predictiveSearch || !this.predictiveSearch.isOpen) {
                if (e > this.currentScrollTop && e > this.headerBounds.bottom) {
                    if (this.preventHide) return;
                    requestAnimationFrame(this.hide.bind(this));
                } else
                    e < this.currentScrollTop && e > this.headerBounds.bottom
                        ? this.preventReveal
                            ? (window.clearTimeout(this.isScrolling),
                                (this.isScrolling = setTimeout(() => {
                                    this.preventReveal = !1;
                                }, 66)),
                                requestAnimationFrame(this.hide.bind(this)))
                            : requestAnimationFrame(this.reveal.bind(this))
                        : e <= this.headerBounds.top && requestAnimationFrame(this.reset.bind(this));
                this.currentScrollTop = e;
            }
        }
        hide() {
            this.header.classList.add("shopify-section-header-hidden", "shopify-section-header-sticky", "sticky", "top-0", "z-[99]");
        }
        reveal() {
            this.header.classList.add("shopify-section-header-sticky", "animate"), this.header.classList.remove("shopify-section-header-hidden");
        }
        reset() {
            this.header.classList.remove("shopify-section-header-hidden", "shopify-section-header-sticky", "animate");
        }
    }
    customElements.define("sticky-header", StickyHeader);
{% endjavascript %}


<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
  {% render 'margin-bottom' %}
{% schema %}

{
    "name": "Header design 1",
    "class": "section-header",
    "settings": [
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background image"
        },
        {
            "type": "color",
            "id": "menu_bg",
            "default": "#fff",
            "label": "t:sections.header.settings.menubg.label"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "t:sections.header.settings.logo.label"
        }, 
        
        {
            "type": "color",
            "id": "menu_bg_nav",
            "default": "#0b88ee",
            "label": "Color nav"
        },
        {
            "type": "color",
            "id": "menu_text_nav",
            "default": "#fff",
            "label": "Color text nav"
        },
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "t:sections.header.settings.menu.label"
        }, {
            "type": "checkbox",
            "id": "show_line_separator",
            "default": false,
            "label": "t:sections.header.settings.show_line_separator.label"
        }, {
            "type": "checkbox",
            "id": "enable_sticky_header",
            "default": false,
            "label": "t:sections.header.settings.enable_sticky_header.label",
            "info": "t:sections.header.settings.enable_sticky_header.info"
        },
        {
            "type": "header",
            "content": "t:sections.header.settings.label_heading1.label"
        },
        {
            "type": "checkbox",
            "label": "t:sections.header.settings.label_checkbox1.label",
            "id": "check_label1",
            "default": false
        },
        {
            "type": "text",
            "id": "name_label1",
            "label": "t:sections.header.settings.label_name1.label",
            "default": "Hot"
        },
        {
            "type": "textarea",
            "label": "t:sections.header.settings.label_lists1.label",
            "id": "list_label1"
        },
        {
            "type": "color",
            "label": "t:sections.header.settings.label_bgcolor1.label",
            "id": "bgcolor_label1",
            "default": "#ff0000"
        },
        {
            "type": "color",
            "label": "t:sections.header.settings.label_txtcolor1.label",
            "id": "textcolor_label1",
            "default": "#ffffff"
        },
        {
            "type": "header",
            "content": "Config time"
        },
        {
            "type": "textarea",
            "id": "title_open_house", 
            "label": "Title open house",
            "default": "Opening Hours:"
        },
        {
            "type": "textarea",
            "id": "time_open_house", 
            "label": "Time open house",
            "default": "Mon - Sat: 9.30 to 16.00"
        },
        {
            "type": "header",
            "content": "t:sections.all.spacing"
        },
        {
            "type":"header",
            "content":"t:sections.margin_bottom.content"
         },
         {
            "type":"number",
            "id":"margin_bottom_desktop",
            "label":"t:sections.margin_bottom.desktop.label",
            "default":0
         },
         {
            "type":"number",
            "id":"margin_bottom_table",
            "label":"t:sections.margin_bottom.tablet.label",
            "default":0
         },
         {
            "type":"number",
            "id":"margin_bottom_mobile",
            "label":"t:sections.margin_bottom.mobile.label",
            "default":0
         },

         {
            "type": "header",
            "content": "Config menu categories"
        },
        {
            "type":"text",
            "id":"text_menu_cate",
            "label": "Text menu categories",
            "default": "Browse Categories"
        },
        {
            "type": "color",
            "label": "Background",
            "id": "menu_categories_bg",
            "default": "#71AF19"
        },
        {
            "type": "color",
            "label": "Text color",
            "id": "menu_categories_text_color",
            "default": "#ffffff"
        }
    ],
    "blocks": [
    {
        "name": "Menu Category",
        "type": "menu_category",
        "settings": [
            {
                "type": "textarea",
                "label": "Category name",
                "id": "category_name",
                "default": "Fruits & Vegetables"
            },
            {
                "type": "image_picker",
                "id": "icon",
                "label": "Icon"
            },
            {
                "type": "link_list",
                "id": "menu_categories_target",
                "label": "Menu"
            },
            {
                "type": "url",
                "id": "url_category",
                "label": "Url category",
                "info": "Use when not exist menu"
            }
        ]
    },
        {
            "name": "Megamenu",
            "type": "megamenu",
            "settings": [
                {
                    "type": "text",
                    "id": "block_foritem",
                    "label": "For item"
                },
                {
                    "type": "link_list",
                    "id": "block_menu1",
                    "label": "Select menu 1"
                },
                {
                    "type": "link_list",
                    "id": "block_menu2",
                    "label": "Select menu 2"
                },
                {
                    "type": "link_list",
                    "id": "block_menu3",
                    "label": "Select menu 3"
                },
                  {
                    "type": "link_list",
                    "id": "block_menu4",
                    "label": "Select menu 4"
                  },
              {
                "type": "link_list",
                "id": "block_menu5",
                "label": "Select menu 5"
              },
                {
                    "type": "text",
                    "id": "list_product_title",
                    "label": "List product title",
                    "default": "Specials offers"
                },
                {
                    "type": "product_list",
                    "id": "block_product_list",
                    "label": "Select products",
                    "limit": 12
                },
                {
                    "type": "image_picker",
                    "id": "logo_image1",
                    "label": "Upload banner image 1"
                },
                {
                    "type": "url",
                    "id": "url_logo_image1",
                    "label": "Url banner 1"
                },
                {
                    "type": "image_picker",
                    "id": "logo_image2",
                    "label": "Upload banner image 2"
                },
                {
                    "type": "url",
                    "id": "url_logo_image2",
                    "label": "Url banner 2"
                },

                {
                    "type": "header",
                    "content": "t:sections.header.settings.label_heading1.label"
                },
                {
                    "type": "checkbox",
                    "label": "t:sections.header.settings.label_checkbox1.label",
                    "id": "check_label1",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "name_label1",
                    "label": "t:sections.header.settings.label_name1.label",
                    "default": "Hot"
                },
                {
                    "type": "textarea",
                    "label": "t:sections.header.settings.label_lists1.label",
                    "id": "list_label1"
                },
                {
                    "type": "color",
                    "label": "t:sections.header.settings.label_bgcolor1.label",
                    "id": "bgcolor_label1",
                    "default": "#ff0000"
                },
                {
                    "type": "color",
                    "label": "t:sections.header.settings.label_txtcolor1.label",
                    "id": "textcolor_label1",
                    "default": "#ffffff"
                },

                {
                    "type": "checkbox",
                    "label": "Display Label New",
                    "id": "check_label2",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "name_label2",
                    "label": "Label New",
                    "default": "New"
                },
                {
                    "type": "textarea",
                    "label": "Label New Items",
                    "id": "list_label2"
                },
                {
                    "type": "color",
                    "label": "Background color label New",
                    "id": "bgcolor_label2",
                    "default": "#6461FF"
                },
                {
                    "type": "color",
                    "label": "Text Color label new",
                    "id": "textcolor_label2",
                    "default": "#ffffff"
                }
            ]
        }
    ],
    "presets":[
    {
      "name":"Header design 1"
    }
  ]
}

{% endschema %}
